.melo {
      color: rgb(37, 54, 46)}
      header,body,#titreloves,#loves,#contenudanse,#contact,#footer { padding: 0px 0px; margin: 0px; }
      
      
 

   h1 { font-size: 80px; color:whitesmoke; font-family: 'Dancing Script', cursive; }
   h2 {text-align: center;font-size: 72px; font-family: 'Dancing Script', cursive;} 
   h3 {text-align: center; font-size: 30px; font-family: 'Dancing Script', cursive; color: #1e0411;}
   h4 {text-align: center;}
   p {font-family: 'Raleway', sans-serif; margin: 0;padding: 0 white}

   .roundedImage {
    overflow:hidden;
    -webkit-border-radius:400px;
    -moz-border-radius:400px;
    border-radius:400px;
    width:300px;
    height:300px;
    margin-top: -30px;
    

    
 }

 .image2 { border-image: round white}

 .image2{
 overflow:hidden;
    -webkit-border-radius:400px;
    -moz-border-radius:200px;
    border-radius:200px;
    width:360px;
    height:360px;
    padding:10px;
  
}


   header {background-image:url("https://s1.1zoom.me/b5050/612/Roses_Wine_color_549705_3840x2400.jpg");padding: 50px 500px;text-align: center;}
   .roundedImage { display:block; margin-left:auto; margin-right:auto;}
   #MeVoici { background-color: #771144 ; padding:120px 150px;font-family:'Raleway', sans-serif; font-size: 20px; }
   .pres {color: rgb(248, 244, 245); justify-content: center; text-align: center; margin-left: 80px; margin-right: 80px; margin-top: 40px;}
    #titreloves { background-color: #fdf0f6; padding:30px; color: #771144 }
    #titreloves2 { background-color: #fdf0f6; padding:10px; display: flex; justify-content: space-between; }
    #imagesloves {background-color: #fdf0f6; padding:10px; display: flex; }
    #textloves { background-color: #fdf0f6; padding:40px ; text-align: center; color:  #1e0411; font-size: 20px;}
    #titredanse { background-color: #1e0411; padding:10px; font-size: 28px; color: white;}
    #contenudanse {background-color: #1e0411; display: flex; color: white; font-size: 18px; font-family:'Raleway', sans-serif}
    #titrecontact { background-color:#0f0209; padding:5px; color:white; line-height: 300%; text-align: center; font-size: 30px; font-family: 'Dancing Script', cursive; color: white}
    #mail { background-color:#0f0209; padding:10px; color:white; text-align: center; line-height: 300%; }
    #icone{ background-color:#0f0209; padding:20px 400px; text-align: center; display: flex; flex-direction: row; justify-content: space-around;}

    .lien {width:70% ; background-color:#1e0411; display: flex; flex-direction: column; text-align: left; padding:90px; align-content: space-around; justify-content: space-around; text-decoration: cornsilk;}
    .photodanseuse{width: 30%; background-color: #1e0411;}
    .boutonecole {object-position: bottom;}
     footer {padding: 65px; background-image: url(https://s1.1zoom.me/b5050/612/Roses_Wine_color_549705_3840x2400.jpg) 
   } 

     .boutonecole {background:#771144
        ; color: white;
        border-radius: 12px;
        padding: 12px 28px;
        font-family: 'Nunito', sans-serif;
        margin-left: auto;
        margin-right:auto;
       text-decoration: none;
      border-spacing: 5px 1rem;}

    .boutonecole:hover {background: #be387b;
        color: white;
        border-radius: 12px;
        padding: 12px 28px;
        font-family: 'Nunito', sans-serif;
        margin-left: auto;
        margin-right:auto;
       text-decoration: none;
       border-spacing: 5px 1rem;
    }

    a.bouton {
background: #0f0209 ; 
color: white; 
}

a.bouton:hover {
background-color: #0f0209; 
color: #951555

}

}
